<body class="scroll-overflow" xmlns="http://www.w3.org/1999/html">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-4 hidden-xs">
            <ul class="nav navbar-nav">
                <li><a class="navbar-font navbar-link" href="#/user/{{model.userId}}/website"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-header">
                <li><a class="navbar-font">Websites</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right pull-right">
                <li><a class="navbar-font" href="#/user/{{model.userId}}/website/new"><span class="glyphicon glyphicon-plus"></span></a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <ul class="nav navbar-nav">
                <li><a class="navbar-font navbar-link visible-xs" href="#/user/{{model.userId}}/website"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-header">
                <li><a class="navbar-font">Edit Website</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right pull-right">
                <li><a ng-click="model.updateWebsite(model.editableWebsite._id, model.editableWebsite)" class="navbar-font" href=""><span class="glyphicon glyphicon-ok"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-xs-4 hidden-xs divider-right">
    <div class="row container-fluid">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{website._id}}">
                    {{website.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="col-xs-12 col-sm-8">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <form class="padding-left-12">
        <div class="form-group">
            <label for="name">Website Name</label>
            <input ng-model="model.editableWebsite.name"
                   type="text"
                   required
                   class="form-control"
                   id="name"/>
        </div>
        <div class="form-group">
            <label for="description">Website Description</label>
            <textarea ng-model="model.editableWebsite.description" class="form-control" rows="5" id="description">Stay tuned!</textarea>
        </div>
        <a ng-click="model.deleteWebsite(model.editableWebsite._id)" class="btn btn-danger btn-block" href="">Delete</a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a class="navbar-font" href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>
</body>

