<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-xs-4 hidden-xs">
            <ul class="nav navbar-nav">
                <li><a class="navbar-font navbar-link" href="#/user/{{model.userId}}/website"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-header">
                <li><a class="navbar-font">Websites</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right pull-right">
                <li><a class="navbar-font" href="#/user/{{model.userId}}/website"><span class="glyphicon glyphicon-plus"></span></a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <ul class="nav navbar-nav">
                <li><a class="navbar-font navbar-link visible-xs" href="#/user/{{model.userId}}/website"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-header">
                <li><a class="navbar-font">New Website</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right pull-right">
                <li><a ng-click="model.createWebsite(model.website)" class="navbar-font"><span class="glyphicon glyphicon-ok"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-xs-4 hidden-xs divider-right">
    <div class="container-fluid row">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{website._id}}">
                    {{website.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-xs-12 col-sm-8">
    <form class="padding-left">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   ng-model="model.website.name"
                   class="form-control"
                   id="name"
                   required
                   placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control"
                      ng-model="model.website.description"
                      rows="5" id="description"
                      placeholder="Description">
            </textarea>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a class="navbar-font" href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>