body{
    padding-top: 65px;
}

input.form-control {
    margin-bottom: 5px;
}

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav .navbar-font {
    color:white;
    font-size:18px;
}

.glyphicon-ok,
.glyphicon-user{
    margin-right: 15px;
    color: white;
}
