body{
    padding-top: 65px;
}

input.form-control {
    margin-bottom: 5px;
}

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default .navbar-nav .navbar-font {
    color:white;
    font-size:18px;
}

.relative-position{
    position: relative;
}
.absolute-position {
    position: absolute;
}
.list-element-menu {
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
}
.zero-right-padding {
    padding-right: 0px;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    height: 100%;
}

.glyphicon-ok,
.glyphicon-user{
    margin-right: 15px;
    color: white;
}
