<body class="scroll-overflow">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-left">
            <li><a class="navbar-font" href="#/page-list"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-header">
            <li><a class="navbar-font">Widgets</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a class="navbar-font" href="#/widget-chooser"><span class="glyphicon glyphicon-plus"></span></a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="list-group">
        <div class="relative-position">
            <div class="container-fluid zero-right-padding">
                <h3>CNN Space and Science</h3>
            </div>
            <div class="absolute-position list-element-menu zero-right-padding">
                <a href="#/widget-heading"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#/widget-chooser"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <div class="relative-position">
            <div class="container-fluid zero-right-padding">
                <h5>Earth like planet discovered orbiting Sun's neighbor.</h5>
            </div>
            <div class="absolute-position list-element-menu zero-right-padding">
                <a href="#/widget-heading"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#/widget-chooser"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <div class="relative-position">
            <div class="container-fluid zero-right-padding">
                <img class="img-responsive" src="https://blueberriemuffins.files.wordpress.com/2011/10/earth_seen_from_space_at_night_1920x1080.jpg" alt="Sample Image"/>
            </div>
            <div class="absolute-position list-element-menu zero-right-padding">
                <a href="#/widget-image"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#/widget-chooser"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <div class="relative-position">
            <div class="container-fluid zero-right-padding">
                <h6>In a discovery that has been years in the making, researchers have confirmed the existence of a rocky planet named Proxima b orbiting Proxima Centauri, the closest star to our sun, according to a new study. It is the closest exoplanet to us in the universe.</h6>
            </div>
            <div class="absolute-position list-element-menu zero-right-padding">
                <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#/widget-chooser"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <div class="relative-position">
            <div class="container-fluid zero-right-padding">
                <h3>Silicon Valley: Making world a better place.</h3>
            </div>
            <div class="absolute-position list-element-menu zero-right-padding">
                <a href="#/widget-heading"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#/widget-chooser"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <div class="relative-position">
            <div class="embed-responsive embed-responsive-4by3 youtube-widget">
                <iframe class="embed-responsive-item" width="560" height="315"
                        src="https://www.youtube.com/embed/2StbLLvdx6I" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="absolute-position list-element-menu zero-right-padding">
                <a href="#/widget-youtube"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#/widget-chooser"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <div class="relative-position">
            <div class="container-fluid zero-right-padding">
                <h6>“Silicon Valley,” now in its third season, is one of the funniest shows on television; it is also the first ambitious satire of any form to shed much light on the current socio-cultural moment in Northern California. The show derives its energy from two semi-contradictory attitudes: contempt for grandiose tech oligarchs and sympathy for the entrepreneurs struggling to unseat them. In the pilot episode, Richard Hendricks, a shy but brilliant engineer, designs a compression algorithm—an ingenious way to make big files smaller. He later turns this innovation into a company, which he insists on calling Pied Piper.</h6>
            </div>
            <div class="absolute-position list-element-menu zero-right-padding">
                <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#/widget-chooser"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="navbar-font" href="#"><span class="glyphicon glyphicon-play"></span></a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a class="navbar-font" href="#"><span class="glyphicon glyphicon-eye-open"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a class="navbar-font" href="#/profile"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>
</body>
