.img-profile {
    max-width: 300px;
    max-height: 300px;
}

.full-screen {
    min-height: 100vh !important;
}

@media screen and (orientation: landscape) and (max-width: 800px) {
    .img-profile {
        max-width: 200px;
        max-height: 200px;
    }
}

.dotted {
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

.link-text {
    font-size: 2em;
}

.black {
    color: black;
}