<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-left">
            <li><a class="navbar-font" href="#/website-list"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-header">
            <li class=""><a class="navbar-font">Pages</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a class="navbar-font" href="#/page-new"><span class="glyphicon glyphicon-plus"></span></a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="#/widget-list">Blog Post</a>
            <a href="#/page-edit" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li class="list-group-item">
            <a href="#/widget-list">Blogs</a>
            <a href="#/page-edit" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li class="list-group-item">
            <a href="#/widget-list">Home</a>
            <a href="#/page-edit" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li class="list-group-item">
            <a href="#/widget-list">About</a>
            <a href="#/page-edit" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
        <li class="list-group-item">
            <a href="#/widget-list">Contact us</a>
            <a href="#/page-edit" class="pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right pull-right">
            <li><a class="navbar-font" href="#/profile"><span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
    </div>
</nav>